<!DOCTYPE html>
<html>
<head>
    <title>Directory listing for /{{ username }}{% if folder %}/{{ folder }}{% endif %}</title>
</head>
<body>
    <h1>Directory listing for /{{ username }}{% if folder %}/{{ folder }}{% endif %}</h1>
    <hr >
    <ul>
        {% for entry in entries %}
            {% if folder %}
                <li><a href="{{ url_for('directory_listing.serve_file', username=username, requested_path=(folder + '/' + entry) if folder else entry) }}">{{ entry }}</a></li>
            {% else %}
                <li><a href="{{ url_for('directory_listing.serve_file', username=username, requested_path=entry) }}">{{ entry }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr >
</body>
</html>